<div class="layout">
  <div class="wrap">  
    <% if current_user && current_user.admin %>
      <h1>Editing Blog</h1>
      <%= render 'form', blog: @blog %>
      <%= link_to 'Show', @blog %> |
      <%= link_to 'Back', blogs_path %>
    <% end %>
  </div>
</div>
