<div class="wrap">
    <div class="blgging-wrap">
      <div class="blogging-title">
        <h2>홈카페를 위한 가정용 에스프레소 커피머신</h2>
        <p>@by Pinky Alpaca, 2020. 06. 20</p>
      </div>

      <div class="blogging-box clearfix">
        <div class="image-box">
          <div class="image">
            <a href="#n"><img src="https://image7.coupangcdn.com/image/vendor_inventory/b65e/df866cd3bfab24577c8598ce5c9cc9dc2e4e4b06529565a2bdbe55c2f2e6.jpg"></a>
          </div>
        </div>
        <div class="inner">
          <a href="#n"><h3>De'Longhi 드롱기 빈티지 아이코나 에스프레소 커피머신</h3></a>
          <p>집에서 즐기는 홈카페 드로기 빈티지 아이코나와 함꼐하세요. 이젠 집에서도 전문가 못지 않는 에스프로소를 맛볼수 있습니다. 홈바리스타가 되어보자</p>
          <div class="pricing">
            <span>10,000</span>
            <span>20,000</span>
            <span>( 50% OFF )</span>
          </div>


          <div class="spec clearfix">
            <div class="boxes common">
              <div class="box">
                <p>평  점</p>
                <span>4.5 /5.0</span>
              </div>
              <div class="box">
                <p>리  뷰</p>
                <span>120개 +</span>
              </div>
              <div class="box">
                <p>로켓 배송</p>
                <span>YES</span>
              </div>
            </div>
            <div class="boxes common">
              <div class="box">
                <p>추출 압력</p>
                <span>20Bar</span>
              </div>
              <div class="box">
                <p>스팀 기능</p>
                <span>YES</span>
              </div>
            </div>
          </div>

          <div class="btn"><a href="#n">쿠팡에서 구매하기 (로켓배송 가능)</a></div>

        </div>
      </div>

      <div class="blogging-box clearfix">
        <div class="image-box">
          <div class="image">
            <img src="https://thumbnail10.coupangcdn.com/thumbnails/remote/492x492ex/image/retail/images/185248893227792-13b08935-cc0b-47fd-817e-de75d579b9b9.jpg">
          </div>
        </div>
        <div class="inner">
          <h3>De'Longhi 드롱기 빈티지 아이코나 에스프레소 커피머신</h3>
          <p>집에서 즐기는 홈카페 드로기 빈티지 아이코나와 함꼐하세요. 이젠 집에서도 전문가 못지 않는 에스프로소를 맛볼수 있습니다. 홈바리스타가 되어보자</p>
          <div class="pricing">
            <span>10,000</span>
            <span>20,000</span>
            <span>( 50% OFF )</span>
          </div>
          <div class="btn"><a href="#n">쿠팡에서 구매하기 (로켓배송 가능)</a></div>
        </div>
      </div>

      <div class="blogging-box clearfix">
        <h3>Notice</h3>
        <div class="notice">
          <ul>
            <li>Description</li>
            <li>가격 정보는 포스팅 날짜 이후 변경 될 수있습니다.</li>
            <li>평점과 리뷰 갯수는 포스팅 날짜 이후 변경 될 수있습니다.</li>
            <li>전기요금은 주택용 저압전력 요금표(한전)를 참고하여 계산 되었습니다.</li>
            <li>쿠팡파트너스와 함께하며 수수료를 받을 수 있습니다.</li>  
          </ul>
        </div>
      </div>

      


  </div>
</div>