<div class="shop_category">
  <a class="cartoon" href="/posts/shop?shop=신발">#신발</a>
  <a class="cartoon" href="/posts/shop?shop=가방">#가방</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=패션 액세서리">#패션 액세서리</a> -->
  <!-- <a class="cartoon" href="/posts/shop?shop=IT/테크">#IT & 테크</a> -->
  <a class="cartoon" href="/posts/shop?shop=해드셋/이어폰">#해드셋 & 이어폰</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=이어폰">#이어폰</a> -->
  <a class="cartoon" href="/posts/shop?shop=스피커">#스피커</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=게이밍">#게이밍</a> -->
  <a class="cartoon" href="/posts/shop?shop=키보드/마우스">#키보드 & 마우스</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=마우스">#마우스</a> -->
  <a class="cartoon" href="/posts/shop?shop=카메라">#카메라</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=테블릿 액세서리">#테블릿 액세서리</a> -->
  <a class="cartoon" href="/posts/shop?shop=스마트폰/테블릿">#스마트폰 & 테블릿</a>
  <a class="cartoon" href="/posts/shop?shop=아날로그 시계">#아날로그 시계</a>
  <a class="cartoon" href="/posts/shop?shop=디지털 시계">#디지털 시계</a>
  <a class="cartoon" href="/posts/shop?shop=조명/램프">#조명 & 램프</a>
  <a class="cartoon" href="/posts/shop?shop=수납/정리">#수납 & 정리</a>
  <a class="cartoon" href="/posts/shop?shop=리빙/홈데코">#리빙 & 홈데코</a>
  <a class="cartoon" href="/posts/shop?shop=욕실">#욕실</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=가드닝">#가드닝</a> -->
  <a class="cartoon" href="/posts/shop?shop=반려동물">#반려동물</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=문구/사무">#문구 & 사무</a> -->
  <a class="cartoon" href="/posts/shop?shop=텀블러">#텀블러</a>
  <a class="cartoon" href="/posts/shop?shop=머그/컵">#머그 & 컵</a>
  <a class="cartoon" href="/posts/shop?shop=그릇">#그릇</a>
  <a class="cartoon" href="/posts/shop?shop=냄비/팬">#냄비 & 팬</a>
  <a class="cartoon" href="/posts/shop?shop=커피/메이커">#커피 & 메이커</a>
  <a class="cartoon" href="/posts/shop?shop=전기포트">#전기포트</a>
  <a class="cartoon" href="/posts/shop?shop=토스터기">#토스터기</a>
  <a class="cartoon" href="/posts/shop?shop=오븐/에어프라이어">#오븐/에어프라이어</a>
  <a class="cartoon" href="/posts/shop?shop=쿠커/메이커">#쿠커 & 메이커</a>
  <a class="cartoon" href="/posts/shop?shop=그릴/렌지">#그릴 & 렌지</a>
  <a class="cartoon" href="/posts/shop?shop=주방가전">#주방가전</a>
  <a class="cartoon" href="/posts/shop?shop=주방용품">#주방용품</a>
  <a class="cartoon" href="/posts/shop?shop=자동차 액세서리">#자동차 액세서리</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=자전거">#자전거</a> -->
  <!-- <a class="cartoon" href="/posts/shop?shop=운동/건강">#운동 & 건강</a> -->
  <a class="cartoon" href="/posts/shop?shop=뷰티">#뷰티</a>
  <!-- <a class="cartoon" href="/posts/shop?shop=자기관리">#자기관리</a> -->
  <a class="cartoon" href="/posts/shop?shop=여행">#여행</a>
  <a class="cartoon" href="/posts/shop?shop=캠핑">#캠핑</a>
  <a class="cartoon" href="/posts/shop?shop=재밌는 아이디어">#재밌는 아이디어</a>
</div>