<!-- <div class="shop_card">
  <a href="/posts/shop?shop=신발"><div class="image-box"><img src="<asset_path 'Image_title' >"></div><div class="inner"><p>신발</p></div></a>
</div> -->
<div class="shop_card"><a href="/posts/shop?shop=신발"><div class="each"><p>신발</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=가방"><div class="each"><p>가방</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=패션 액세서리"><div class="each"><p>패션 액세서리</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=스마트 기기"><div class="each"><p>스마트 기기</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=해드셋/이어폰"><div class="each"><p>해드셋 & 이어폰</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=이어폰"><div class="each"><p>이어폰</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=스피커"><div class="each"><p>스피커</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=게이밍"><div class="each"><p>게이밍</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=키보드/마우스"><div class="each"><p>키보드 & 마우스</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=마우스"><div class="each"><p>마우스</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=카메라"><div class="each"><p>카메라</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=테블릿 액세서리"><div class="each ln"><p>테블릿 액세서리</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=스마트폰/테블릿"><div class="each ln"><p>스마트폰 & 테블릿</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=아날로그 시계"><div class="each"><p>아날로그 시계</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=디지털 시계"><div class="each"><p>디지털 시계</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=조명/램프"><div class="each"><p>조명 & 램프</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=수납/정리"><div class="each"><p>수납 & 정리</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=리빙/홈데코"><div class="each"><p>리빙 & 홈데코</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=욕실"><div class="each"><p>욕실</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=가드닝"><div class="each"><p>가드닝</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=반려동물"><div class="each"><p>반려동물</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=문구/사무"><div class="each"><p>문구 & 사무</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=텀블러"><div class="each"><p>텀블러</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=머그/컵"><div class="each"><p>머그 & 컵</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=그릇"><div class="each"><p>그릇</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=냄비/팬"><div class="each"><p>냄비 & 팬</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=커피머신"><div class="each"><p>커피머신</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=전기포트"><div class="each"><p>전기포트</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=토스터기"><div class="each"><p>토스터기</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=오븐"><div class="each"><p>오븐</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=쿠커/메이커"><div class="each"><p>쿠커 & 메이커</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=그릴/렌지"><div class="each"><p>그릴 & 렌지</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=주방가전"><div class="each"><p>주방가전</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=주방도구"><div class="each"><p>주방도구</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=자동차 액세서리"><div class="each"><p>자동차 액세서리</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=자전거"><div class="each"><p>자전거</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=운동/건강"><div class="each"><p>운동 & 건강</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=뷰티"><div class="each"><p>뷰티</p></div></a></div>
<!-- <div class="shop_card"><a href="/posts/shop?shop=자기관리"><div class="each"><p>자기관리</p></div></a></div> -->
<div class="shop_card"><a href="/posts/shop?shop=여행"><div class="each"><p>여행</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=캠핑"><div class="each"><p>캠핑</p></div></a></div>
<div class="shop_card"><a href="/posts/shop?shop=아이디어"><div class="each"><p>아이디어</p></div></a></div>
