

<div class="shop_card">
  <a href="/posts/shop?shop=신발"><div class="image-box"><img src="<%=asset_path 'shoes.png' %>"></div><div class="inner"><p>신발</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=백팩"><div class="image-box"><img src="<%=asset_path 'tumbler.jpg' %>"></div><div class="inner"><p>백팩</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=크로스백"><div class="image-box"><img src="<%=asset_path 'mug.png' %>"></div><div class="inner"><p>크로스백</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=숄더백"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>숄더백</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=토드백"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>토드백</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=파우치"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>파우치</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=클러치백"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>클러치백</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=힙색"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>힙색</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=모자"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>모자</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=지갑"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>지갑</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=벨트"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>벨트</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=손목시계"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>손목시계</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=양말"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>양말</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=머그/컵"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>머그 & 컵</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=텀블러"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>텀블러</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=커피머신"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>커피머신</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=전기포트"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>전기포트</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=토스터기"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>토스터기</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=에어프라이어"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>에어프라이어</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=간식 메이커"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>간식 메이커</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=그릇"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>그릇</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=냄비/팬"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>냄비 & 팬</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=가스/전기레인지"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>가스 & 전기레인지</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=해드셋"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>해드셋</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=이어폰"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>이어폰</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=스피커"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>스피커</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=게이밍"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>게이밍</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=키보드"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>키보드</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=마우스"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>마우스</p></div></a>
</div>


<div class="shop_card">
  <a href="/posts/shop?shop=테블릿 액세서리"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>테블릿 액세서리</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=스마트폰 액세서리"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>스마트폰 액세서리</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=시계"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>시계</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=조명/램프"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>조명 & 램프</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=수납/정리"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>수납 & 정리</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=문구/사무"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>문구 & 사무</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=반려동물"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>반려동물</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=욕실"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>욕실</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=운동"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>운동</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=여행"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>여행</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=뷰티"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>뷰티</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=자동차"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>자동차</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=자전거"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>자전거</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=캠핑"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>캠핑</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=아이디어"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>아이디어</p></div></a>
</div>

<div class="shop_card">
  <a href="/posts/shop?shop=인테리어"><div class="image-box"><img src="IMAGE_URL"></div><div class="inner"><p>인테리어</p></div></a>
</div>