<div class="wrap">
  <div class="visual clearfix">
    <div class="main-title">
      <h2><span>예쁜 선물</span>이 필요할 때</h2>
    </div>
  </div>
  <div class="shop_category">
    <a class="cartoon" href="/posts/hashtag/히새태그">#해시태그</a>
    <a class="cartoon" href="/posts/hashtag/가방">#가방</a>
    <a class="cartoon" href="/posts/hashtag/해드셋/이어폰">#해드셋 & 이어폰</a>
    <a class="cartoon" href="/posts/hashtag/스피커">#스피커</a>
    <a class="cartoon" href="/posts/hashtag/키보드/마우스">#키보드 & 마우스</a>
    <a class="cartoon" href="/posts/hashtag/카메라">#카메라</a>
    <a class="cartoon" href="/posts/hashtag/스마트폰/테블릿">#스마트폰 & 테블릿</a>
    <a class="cartoon" href="/posts/hashtag/아날로그 시계">#아날로그 시계</a>
    <a class="cartoon" href="/posts/hashtag/디지털 시계">#디지털 시계</a>
    <a class="cartoon" href="/posts/hashtag/조명/램프">#조명 & 램프</a>
    <a class="cartoon" href="/posts/hashtag/수납/정리">#수납 & 정리</a>
    <a class="cartoon" href="/posts/hashtag/리빙/홈데코">#리빙 & 홈데코</a>
    <a class="cartoon" href="/posts/hashtag/욕실">#욕실</a>
    <a class="cartoon" href="/posts/hashtag/반려동물">#반려동물</a>
    <a class="cartoon" href="/posts/hashtag/텀블러">#텀블러</a>
    <a class="cartoon" href="/posts/hashtag/머그/컵">#머그 & 컵</a>
    <a class="cartoon" href="/posts/hashtag/그릇">#그릇</a>
    <a class="cartoon" href="/posts/hashtag/냄비/팬">#냄비 & 팬</a>
    <a class="cartoon" href="/posts/hashtag/커피/메이커">#커피 & 메이커</a>
    <a class="cartoon" href="/posts/hashtag/전기포트">#전기포트</a>
    <a class="cartoon" href="/posts/hashtag/토스터기">#토스터기</a>
    <a class="cartoon" href="/posts/hashtag/오븐/에어프라이어">#오븐/에어프라이어</a>
    <a class="cartoon" href="/posts/hashtag/쿠커/메이커">#쿠커 & 메이커</a>
    <a class="cartoon" href="/posts/hashtag/그릴/렌지">#그릴 & 렌지</a>
    <a class="cartoon" href="/posts/hashtag/주방가전">#주방가전</a>
    <a class="cartoon" href="/posts/hashtag/주방용품">#주방용품</a>
    <a class="cartoon" href="/posts/hashtag/자동차 액세서리">#자동차 액세서리</a>
    <a class="cartoon" href="/posts/hashtag/뷰티">#뷰티</a>
    <a class="cartoon" href="/posts/hashtag/여행">#여행</a>
    <a class="cartoon" href="/posts/hashtag/캠핑">#캠핑</a>
    <a class="cartoon" href="/posts/hashtag/재밌는 아이디어">#재밌는 아이디어</a>
    </div>
</div>