<div class="ft-wrap clearfix">

  <div class="ft-visual clearfix">
    <div class="ftv-left">
      <a href="/posts?category=크리스마스"><img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"></a>
    </div>

    <div class="ftv-right">
      <a href="#n"><img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"></a>
      <a href="#n"><img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"></a>
    </div>
  </div>


    <div class="card-section">
      <% @featureds.each do |featured| %>
        <a href="/featureds/<%= featured[:id] %>">
          <div class="ft-card">
            <div class="image-box">
              <img src="<%= featured.fimage %>">
            </div>
            <div class="inner">
              <h3><%= link_to featured.ftitle, featured %></h3>
            </div>
          </div>
        </a>
      <% end %>

      <a href="#n">
        <div class="ft-card">
          <div class="image-box">
            <img src="https://i.pinimg.com/originals/c3/a7/e5/c3a7e5e29443ecfce44b0931313e23ea.png">
          </div>
          <div class="inner">
            <h3>여기에는 제목을 넣을 꺼에요. 어떤 제목이 좋을까요?</h3>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="ft-card">
          <div class="image-box">
            <img src="https://i.pinimg.com/originals/c3/a7/e5/c3a7e5e29443ecfce44b0931313e23ea.png">
          </div>
          <div class="inner">
            <h3>여기에는 제목을 넣을 꺼에요. 어떤 제목이 좋을까요?</h3>
          </div>
        </div>
      </a>

    </div><!--card-section-->
  
</div><!--ft-wrap-->