<% @featureds.each do |featured| %>
  <div class="card">
    
    <div class="image-box">
      <%= link_to image_tag(featured.ff_spare_03), featured %>
    </div>
    <div class="inner">
      <p><%= link_to featured.ff_title, featured %></p>
    </div>

  </div>
<% end %>