<div class="wrap">
  <div class="where-hashtag">
    <% if params[:name].present? %>
      <p><span>#<%= params[:name] %></span></p>
    <% end %>
  </div>
  
  <%= render 'featureds/featured_body' %>

</div>