<div class="wrap">
  <div class="where-hashtag">
    <% if params[:name].present? %>
      <p><span>#<%= params[:name] %></span></p>
    <% end %>
  </div>
  
  <% @featureds.each do |featured| %>
    <h2><%= link_to featured.ff_title, featured %></h2>
    #<%= render_with_hashtags(featured.ff_hashtag.to_s) %>
  <% end %>

</div>