<div class="wrap">
  <!-- <div class="shop-title">
    <h1>FEATURED 6ix.</h1>
  </div> -->

<%= render "featureds/ff_index" %>
<% if current_user && current_user.admin %>
  <%= render 'featureds/featured_body' %>
<% end %>
</div>  


