/* Blog Main Page */
.blog-wrapping{width:1000px;margin:0 auto;}
.blog-box{}
.blog-box a{display:block;}
.blog-box .blog-card{float:left;width:31.33%;height:450px;margin:1%;background:rgba(242, 242, 242, 0.6);border-radius:10px;}
.blog-box .blog-card .blog-image{position:relative;height:300px;}
.blog-box .blog-card .blog-image img{width:80%;height:80%;object-fit:cover;border-radius:50%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.blog-box .blog-card .inner{padding:10px 30px;}
.blog-box .blog-card .inner p{font-size:30px;font-weight:bold;text-decoration:underline;letter-spacing:5px;}

@media screen and (max-width:640px){
  .blog-wrapping{width:100%;}
  .blog-box .blog-card{float:none;width:100%;margin-bottom:50px;height:500px;}
  .blog-box .blog-card .blog-image{height:365px;}
  .blog-box .blog-card .blog-image img{width:85%;height:85%;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .blog-wrapping{width:100%;}
  .blog-box .blog-card{float:left;width:48%;margin:0 1% 30px 1%;height:500px;}
  .blog-box .blog-card .blog-image{height:365px;}
  .blog-box .blog-card .blog-image img{width:85%;height:85%;}
}



/* Blogging Page*/
.blgging-wrap{width:1000px;margin:0 auto;}
.blogging-title{margin:10px 0 50px 0;}
.blogging-title h2{font-size:50px;}
.blogging-box{margin-bottom:50px;border-bottom:3px solid #000;padding-bottom:30px}
.blogging-box .image-box{float:left;width:43%;height:400px;margin-right:2%;position:relative;}
.blogging-box .image{width:365px;height:350px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.blogging-box .image img{width:100%;height:100%;object-fit:contain;} 
.blogging-box .inner{float:left;width:50%;padding:2.5%;}
.blogging-box .inner h3{font-size:25px;text-decoration:underline;letter-spacing:1.2px;}
.blogging-box .inner p{font-size:15px;margin:15px 0;}
.blogging-box .pricing{margin:10px 0 0 0;}
.blogging-box .pricing span{font-size:20px;color:#3d3d3d;margin-right:7px;}
.blogging-box .pricing span:nth-child(1){font-size:30px;color:#57caef;font-weight:600;}
.blogging-box .pricing span:nth-child(2){color:#616161;text-decoration:line-through;}
.blogging-box .pricing span:nth-child(3){}

.blogging-box .spec{}
.blogging-box .spec .boxes{text-align:center;}
.blogging-box .spec .boxes .box{float:left;width:32%;margin:0.5%;padding:10px 0;box-shadow:0 0 20px 0 rgba(0,0,0,0.06);}
.blogging-box .spec .boxes .box p{margin:0 0 7px 0;font-size:20px;font-weight:600;}
.blogging-box .spec .boxes .box span{font-size:15px;}

.blogging-box .btn{margin:15px 0;border:2px solid black;border-radius:100px;padding:10px 20px;font-size:14px;background:#fe4365;box-shadow:inset 7px 2px 0 white, inset -0.5px 0.5px 0 white, inset -5px -3px 0 #D53D35;color:#fff;position:relative;}
.blogging-box .btn a{display:block;font-weight:600;color:#fff;text-align:center;}

@media screen and (max-width:640px){
  .blgging-wrap{width:100%;margin:0}
  .blogging-title{margin:10px 0 30px 0;}
  .blogging-title h2{font-size:40px;}
  .blogging-box .image-box{float:none;width:100%;margin:0;}
  .blogging-box .image{width:100%;height:100%;}
  .blogging-box .image img{width:100%;height:100%;} 
  .blogging-box .inner{float:none;width:100%;padding:0;margin:0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .blogging-title h2{font-size:40px;}
  .blgging-wrap{width:100%;margin:0;}
  .blogging-box .image{width:330px;height:350px;}
}




/**, *:before, *:after { 
  box-sizing: border-box;
}*/

/*body {
  background: #eee;
  color: #191919;
  font-family: 'Lato', sans-serif;
}*/

h1, h2 {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  text-transform: uppercase;
}

figure {
  margin: 0;
}

.blog_wrap img {
  height:300px;
  /*height: auto;*/
  width: 100%;
  object-fit: contain;  
  margin-top:20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  border-radius:20px;

}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 24px;
  max-width: 1000px;
  position: relative;
}

.wrapper > * {
  grid-column: 1 / span 2;
}

.header {
  font-size: 1.5em;
  grid-row: 1 / 2;
}

.blog_wrap .header:after {
  background: #6817ba;
  content: "";
  display: block;
  height: 20px;
  width: auto;
}

.article {
  text-align: right;
}

.article-6{grid-row: 3 / 5;}

.featured-image-1 {
  grid-row: 2 / 3;
}
.feat-img-5{grid-row: 2 / 3}
.feat-img-5 img{margin-top:-75px;}


.number-1 {
  grid-row: 2 / 4;
}

.featured-image-2, .number-2 {
  grid-row: 4 / 5;
}

.number-1, .number-4 {
  align-self: end;
  color: rgba(104,23,186,0.5);
  font-family: 'Fjalla One', sans-serif;
  font-size: 200px;
  line-height: 300px;
  grid-column: 1 / 2;
}

.article-1, .article-4 {
  grid-column: 2 / 3;
}

.featured-image-2, .number-2 {
  align-self: end;
}

.number-2 {
  color: #eee;
  font-size: 200px;
  justify-self: end;
  line-height: 160px;
}

.number-3 {
  background: black;
  border-radius: 130px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  height: 130px;
  line-height: 130px;
  position: absolute;
  grid-row: 6 / 7;
  right: -20px;
  text-align: center;
  top: 10px;
  width: 130px;
}

.featured-image-3 img {
  height: 300px;
  margin-top:55px;
}

.number-4 {
  font-size: 320px;
  left: -20px;
  line-height: 320px;
  position: absolute;
}

@media (min-width: 600px) {
  
  .wrapper {
    grid-template-columns: repeat(2, 1fr 2fr);
    margin: 24px auto;
  }
  
  .header {
    grid-column: 3 / 5;
    width: 70%;
  }
  
  .featured-image-1 {
    grid-row: 1 / 3;
  }
  
  
  .article-1 {
    grid-row: 3 / 5;
  }
  
  .article-2 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
  
  .featured-image-2, .number-2 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }

  .feat-img-2{grid-row: 3 / 1;}

  .featured-image-3, .number-3 {
    grid-row: 4 / 6;
  }
  
  .featured-image-4, .number-4 {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
  }
  
  .number-4 {
    font-size: 320px;
    grid-row: 5 / 7;
  }
  
  .article-3, .article-4 {
    grid-row: 6 / 7;
  }

  
  .article-4 {
    grid-column: 4 / 5;
  }
  .article-6{grid-row: 5 / 5;}
  .feat-img-6{grid-row: 1 / 3;}
  
}

@media(min-width:641px) and (max-width:1199px){
 .wrapper {width:700px;}
}



