/*@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');*/
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
@import url(//fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
/* 사이트이름 */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
a{text-decoration:none;color:#3d3d3d;}
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#3d3d3d;line-height:1.5;font-weight:300;/*background:#f2f2f2;*//*background:#f3f1e6;*//*font-family:'Do Hyeon', sans-serif;*/  font-family: 'Barlow', sans-serif;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;/*overflow:hidden;position:relative;*/}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}

/* header */
.navbar-container{border-bottom:1px solid #ccc;height:60px;}
.container{margin:0 auto;padding:0 40px;/*max-width:90vw;*/max-width:1200px;}
.arrow{display:block;width:24px;height:24px;transform:rotate(-90deg);}
.box-left, .box-center, .box-right{display:flex;flex-wrap:wrap;align-items:center;/*margin-top:-20px;*/}
/*.box-left{margin-top:-15px;}*/
.box-right{margin-left:auto;}
.logo-m{display:none;line-height:90px;margin:0 auto;}
.logo-m img{}
.site-overlay{position:fixed;top:0;right:0;bottom:0;left:0;padding-bottom:40px;/*background:rgba(0, 0, 0, 0.9);*/background:#fff;width:100%;height:100%;transition:all 200ms linear;z-index:9000;opacity:0;visibility:hidden;}
.overlay-active .site-overlay{opacity:1;visibility:visible;}
.site-overlay .m-image{text-align:center;margin-top:10%;opacity:0.3;}
.site-overlay .m-image img{width:250px;}
.site-logo{display:block;font-size:20px;font-weight:900;line-height:1;/*color:#fe8fa3;*/font-family: 'Bowlby One SC', cursive;text-shadow:3px 3px 0 #333, 15px 15px 10px #555;text-align:center;letter-spacing:2px;-webkit-text-stroke-width:1px;-webkit-text-stroke-color:#f5eede;/*color: #47a1aa;*/color:#fe8fa3;text-shadow:#0d1218 1px 1px,#0d1218 2px 2px,#0d1218 3px 3px,#0d1218 4px 4px,#0d1218 5px 5px;width:100px;}
.site-logo em{background:#fe8fa3;color:#fff;padding:3px 7px;border-radius:10px;margin-right:1px;}
.overlay-active .site-logo{color:#fe8fa3;}
.overlay-active .site-logo em{background:#fe8fa3;color:#fff;}
.site-header{position:fixed;top:0;width:100%;margin:0;background-color:#fff;z-index:5000;box-sizing:border-box;}
.overlay-active .site-header{color:#fff;background-color:transparent;z-index:9050;}
.site-navbar{position:relative;display:flex;height:60px;margin:0 -20px;}
.site-navbar .navbar-item{padding:0 20px;}
.site-navbar .navbar-item img{width:40px;height:50px;}
.site-navbar .header-search{}
.site-navbar .header-search input{width:400px;padding:10px;border-radius:20px;margin-top:12px;background:#f8f8f8;border:none;margin-left:-50px;}



.navbar-nav{display:flex;margin:0;padding:0;list-style:none;flex-wrap:wrap;}
.navbar-nav li{position:relative;}
.navbar-nav li a{display:block;color:#08f;font-size:1rem;}
.navbar-nav li a:hover{color:#08f;}
.navbar-nav >li>a{margin:0;padding:0 12px;line-height:60px;color:#000;font-weight:700;text-transform:uppercase;letter-spacing:0.08em;}
.navbar-nav >li>a:hover{/*color:#FE4365;*/color:#fe8fa3;}
.navbar-nav >li.menu-item-has-children:hover>ul{opacity:1;top:auto;left:auto;animation:fade_in_up 300ms forwards;}
.navbar-nav .sub-menu{position:absolute;width:110px;min-width:max-content;padding:12px 20px 20px;background-color:#fff;opacity:0;left:-9999px;z-index:6000;}
.navbar-nav .sub-menu a{margin:0 -20px;padding:8px 20px 8px;}
.navbar-nav .sub-menu a:hover{color:#fff;background-color:#08f;}
.navbar-nav .sub-menu li.menu-item-has-children:hover > ul {opacity:1;top:-4px;left:calc(100% + 20px);animation:fade_in_up 300ms forwards;}
.navbar-nav >li.mobile-only{display:none;}
.navbar-nav >li.search form{margin-top:23px;}
.navbar-nav >li.search input{width:400px;padding:10px 20px;border-radius:15px;outline:none;}
.overlay-active .navbar-nav{display:none;}
.responsive-nav{display:block;float:right;position:relative;right:0;width:32px;height:24px;z-index:9010;visibility:visible;opacity:1;cursor:pointer;transition:opacity 200ms linear, visibility 200ms linear, color 100ms linear;}
.responsive-nav .line{display:block;position:absolute;top:50%;width:32px;height:2px;transition:300ms;background:currentColor;clip-path:inset(0 0 0 0);transition:all 377ms cubic-bezier(0.29, 0.09, 0.22, 0.98);transform-origin:50% 50%;}
.responsive-nav .line:nth-child(1){top:10%;}
.responsive-nav .line:nth-child(3){top:90%;}
.responsive-nav:focus .line:nth-child(1), .overlay-active .responsive-nav .line:nth-child(1){top:50%;transform:rotate3d(0, 0, 1, 45deg);}
.responsive-nav:focus .line:nth-child(2), .overlay-active .responsive-nav .line:nth-child(2){opacity:0;}
.responsive-nav:focus .line:nth-child(3), .overlay-active .responsive-nav .line:nth-child(3){top:50%;transform:rotate3d(0, 0, 1, -45deg);}
.overlay-active .responsive-nav{color: #3d3d3d;}

@media screen and (max-width:640px){
 .site-logo{width:auto;font-size:22px;letter-spacing:0px;}
 .site-overlay .m-image{margin-top:25%;} 
 .site-navbar .header-search input{display:none;}
 .box-right{margin:0;}
 .logo-m{display:block;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .site-logo{width:auto;font-size:24px;}
  .site-navbar .header-search input{margin-left:-15px;}

}

@media (max-width: 1240px) {
  .navbar-nav {display:none;}
  .responsive-nav{display:block;}
  .navbar-nav >li.mobile-only{display:block;}    
}

#responsive-menu{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;}
.overlay-menu{font-family: 'Gugi', cursive;list-style:none;position:absolute;bottom:0;z-index:99;display:flex;flex-flow:column;flex-direction:column;justify-content:flex-end;align-items:flex-end;max-width:none;width:95vw;margin:0;padding-bottom:calc(5% + 70px);text-align:right;transform:translateX(0);transition:all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);}
.overlay-menu a{position:relative;color:#3d3d3d;font-size:1.5rem;font-weight:300;line-height:1.5;text-decoration:none;}
.overlay-menu li{margin:0 40px;}
.overlay-menu button{position:relative;display:inline-block;border:none;padding:0;margin:0 -0.25em 2rem 0;color:#000;/*font-family:"Poppins", sans-serif;*/font-family: 'Gugi', cursive;font-size:0.875rem;font-weight:400;letter-spacing:0.25em;line-height:24px;text-decoration:none;text-transform:uppercase;background:transparent;/*opacity:0.25;*/cursor:pointer;transition:all 250ms ease-in-out;-webkit-appearance:none;-moz-appearance:none;}
.overlay-menu button::before{content:"\2190";display:inline-block;margin-right:1.25rem;font-size:1.25rem;transition:all 150ms ease;}
.overlay-menu button:hover{opacity:0.6;letter-spacing:0.5em;margin-right:-0.5em;}
.overlay-menu button:hover::before{margin-right:2rem;}
.overlay-menu.sub-menu{opacity:0;transform:translateX(30px);visibility:hidden;}
.overlay-menu.sub-menu.show{opacity:1;transform:translateX(0);visibility:visible;}
.overlay-menu.hidden{opacity:0;transform:translateX(-30px);visibility:hidden;}
.overlay-menu li.menu-item-has-children a{margin-right:-40px;padding-right:40px;}
.overlay-menu li.menu-item-has-children a::after{content:"\0203A";display:inline-block;width:40px;margin-right:-40px;font-size:24px;font-family:sans-serif;text-align:right;}


/*@keyframes fade_in_up {
  0%{opacity:0;transform:translateY(5%);}100%{opacity:1;transform:translateX(0%);}}){.container{padding-right:20px;}
  .site-navbar .nav_logo{padding-left:0;color:#ffc51a;}
  .navbar-nav >li.search form{display:none;}
}*/

@media screen and (max-width:640px){
  .container{padding:0 20px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .container{padding-right:40px;}
  .navbar-nav >li.search form{display:none;}
}


/* Common Css */
.main-container{margin-top:80px;position:relative;}


/* main-admin */
/*.admin{position:absolute;top:65px;right:40px;z-index:9999;}*/

/* Table for Categories */
.admin-panner-category{margin-top:50px;}
.admin-panner-category p{font-size:20px;}
.admin-panner-category table{border-collapse:collapse;width:100%;}
.admin-panner-category table.monitoring{font-size:10px;font-weight:500;}
.admin-panner-category th, .admin-panner-category td{text-align:left;padding:8px;text-align:center;}
.admin-panner-category tr:nth-child(even){background-color:#f2f2f2}
.admin-panner-category th{background-color:#4CAF50;color:white;}
.admin-panner-category th.title{width:400px;}
.admin-panner-category input{padding:5px 20px;margin-bottom:5px;}


/* pagination */
.pagy-nav{margin:15px 0 50px 0;}
.pagy-nav .page{margin:0 1%;}
.pagy-nav .active{margin:0 1%;background:#fe8fa3;padding:5px 10px;color:#fff;font-weight:bold;}


/* display none on mobile */
@media screen and (max-width:640px){
  .mobile_none .admin{display:none;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  /*.mobile_none .admin{display:none;}*/
}

