/* Index Page */
.visual{text-align:center;}
.visual .main-title{margin-bottom:10px;font-family:"Vibur";}
.visual h2.ver-02{font-size:77px;letter-spacing:1px;color:#F25F5C;text-shadow:1px 1px 0 #70C1B3, 2px 2px 0 #b4e7f8, 3px 3px 0 #70C1B3, 4px 4px 0 #b4e7f8, 5px 5px 0 #70C1B3, 6px 6px 0 #b4e7f8, 7px 7px 0 #70C1B3, 8px 8px 0 #b4e7f8, 9px 9px 0 #70C1B3, 10px 10px 0 #b4e7f8, 11px 11px 0 #70C1B3, 12px 12px 0 #b4e7f8;}
.visual span.span-02{font-size:37px;}
.visual span.sub_title{font-size:2rem;border-bottom:0px solid #fec2cd;box-shadow:inset 0 -10px 0 #fec2cd;width:100%;}
.visual ul{display:table;margin:0 auto;}
.visual ul li{float:left;}
.visual ul li a{} 
.visual .category-mobile{display:none;}
.visual .category-mobile ul{}
.visual .category-mobile ul li{border:3px solid;width:100px;height:100px;border-radius:50%;text-align:center;line-height:150px;margin-left:10px;position:relative;border-bottom:-1px solid #fe8fa3;/*box-shadow:inset 0 -13px 0 #fe8fa3;*/background:#FFED66;box-shadow:0 3px 0 #FF5E5B;}
.visual .category-mobile ul li a{font-size:19px;font-weight:700;display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;}
.visual .category-mobile ul li a img{position:absolute;top:30%;left:50%;width:50px;transform:translate(-50%, -30%);}
.visual form{margin-bottom:15px;}
.visual input{display:none;padding:10px;width:50%;border-radius:10px;}

/* 카드박스 가로스크롤 메인  */
/*.visual-card-wrap{}
.visual-card-wrap ul{} 
.visual-card-wrap ul li{width:280px;height:190px;text-align:center;margin:0 10px;position:relative;}
.visual-card-wrap ul li a{color:#fff;font-weight:bold;font-size:20px;} 
.visual-card-wrap ul li p{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;}
.visual-card-wrap ul li a img{width:100%;height:100%;border-radius:20px;box-shadow:0 0 2rem -1rem rgba(0,0,0,0.5);}*/

.where{width:1000px;margin:0 auto;text-align:left;text-transform:uppercase;}
.where p{font-size:35px;font-weight:500;}
.where p a, .where p span, .where p em, .where-hashtag p span, .card-wrap .cart-title span{border-bottom:0px solid #b4e7f8;box-shadow:inset 0 -13px 0 #b4e7f8;}
.where-hashtag{}
.where-hashtag p{font-size:50px;font-weight:600;}
.card-wrap{width:1000px;margin:10px auto 0 auto;}
.card-wrap .cart-title span{font-size:30px;font-weight:600;}
.card{float:left;width:30.7%;height:405px;margin:1%;border-radius:20px;position:relative;box-shadow:0 0 5px rgba(0,0,0,0.15);}
.card .image-box{/*height:300px;*/height:405px;position:relative;}
.card .image-box img{width:75%;height:75%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;border-radius:20px;}
.card .image-box .no-background img{width:80%;height:80%;object-fit:contain;}
.card .inner{padding:2% 5%;text-align:center;}
.card .inner p{font-size:14px;word-break:keep-all;letter-spacing:1.1px;margin-top:-63px;}
.card .inner p a{color:#b3b3b3;/*border-bottom:0px solid #b4e7f8;box-shadow:inset 0 -7px 0 #b4e7f8;*/}

.card .inner .add form{position:absolute;top:10px;right:10px;}
.card .inner .add form input{font-size:30px;width:43px;height:40px;color:#FE4365;background:#fff;border-radius:50%;border:none;cursor:pointer;border:1px solid;padding-bottom:40px;}
.card .inner .cart-delete{position:absolute;top:10px;right:10px;}
.card .inner .cart-delete a{font-size:27px;font-weight:700;color:#FE4365;background:#fff;width:40px;height:40px;border-radius:50px;padding:5px 13px;border:1px solid;}
.card .source p{text-align:center;font-weight:500;}
.card hr{width:30%;height:1px;background:#ccc;border:none;margin-top:5px;text-align:left;display:none;}

/*a.btn{display:inline-block;margin:5px;padding:5px 15px;font-size:17px;text-decoration:none;outline:none;color:#fff;background-color:#FE4365;background:#F25F5C;border-radius:3px;box-shadow:0 0 0 -2px #CFF09E, 0 0 0 -1px #F25F5C;border:none;-webkit-transition:-webkit-box-shadow .3s;-webkit-transition:box-shadow .3s;transition:box-shadow .3s;border-radius:20px;}
a.btn:hover, a.btn:focus{box-shadow:0 0 0 2px #CFF09E, 0 0 0 4px #ff0464;-webkit-transition-timing-function:cubic-bezier(0.6, 4, 0.3, 0.8);transition-timing-function:cubic-bezier(0.6, 4, 0.3, 0.8);-webkit-animation:gelatine 0.5s 1;animation:gelatine 0.5s 1;}
a.btn:active{background:#4ECDC4;-webkit-transition-duration:0;transition-duration:0;box-shadow:0 0 0 2px #CFF09E, 0 0 0 4px #3ac7bd;}*/


.category-pc a.btn{
  font-family: 'Bowlby One SC', cursive;
  display: inline-block;
  background-color: #FFED66;
  padding: 5px 15px;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  text-decoration: none;
  /*text-transform: uppercase;*/
  color: #FF5E5B;
  box-shadow: 0 3px 0 #FF5E5B;
  cursor: pointer;
  transition: all 100ms linear;
  margin:0 5px;
}
.category-pc a.btn:hover{
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 7px 0 #FF5E5B;
}
.category-pc a.btn:focus {
  outline: 0;
}

/** $keyframes \ gelatine**/
@keyframes gelatine {
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
}
@-webkit-keyframes gelatine {
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
}


@media screen and (max-width:640px){
  .visual h2.ver-01{font-size:3rem;border-bottom:0px solid #fec2cd;box-shadow:inset 0 -135px 0 #fec2cd;width:100%;}
  .visual span.sub_title{font-size:20px;}
  .visual h2.ver-02{font-size:35px;}
  .visual span.span-02{font-size:25px;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;height:75px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;}
  .visual input{display:block;width:90%;border:none;background:#f8f8f8;margin:0 auto;}
  .where{width:100%;margin:0;}
  .where p{font-size:25px;text-align:center;}
  .where-hashtag{margin-bottom:20px;}
  .where-hashtag p{font-size:40px;}
  .card-wrap{width:100%;margin:10px 0 0 0;}
  .card{float:none;width:100%;margin:0 0 20px 0;border:1px solid #ccc;}
  .category-pc a.btn{padding:18px 12px;font-size:15px;}
  .category-pc a.btn:hover{pointer-events:none;}
  
}

@media screen and (min-width:641px) and (max-width:1199px){
  .visual .main-title{margin-bottom:30px;}
  .visual h2{font-size:3rem;}
  .visual h2.ver-02{font-size:45px;}
  .visual span.span-02{font-size:30px;}
  .visual span{font-size:1.5rem;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;height:55px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;}
  .visual input{display:none;width:90%;}
  .where{width:100%;margin:0;}
  .card-wrap{width:100%;margin:30px 0 0 0;}
  .card{float:left;width:47.7%;margin:1%;border:1px solid #ccc;}
  .category-pc a.btn{padding:5px 15px;}
}


/* Show Page */
.show-container{width:800px;margin:0 auto;border:3px solid;padding:20px;position:relative;border-radius:20px;}
.show-container .show-image-box{float:left;width:40%;height:300px;position:relative;}
.show-container .show-image-box img{width:100%;height:100%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;}
.show-container .show-image-box .no-background img{width:80%;height:80%;object-fit:contain;}
.show-container .inner{float:left;width:50%;margin-left:5%;padding:2.5%;}
.show-container .inner p.title{font-size:25px;/*font-weight:700;*/margin-bottom:15px;word-break:keep-all;text-decoration:underline;letter-spacing:0.08em;width:70%;}
.show-container .inner .pricing{font-size:2rem;font-weight:500;line-height:1;margin-top:20px;}
.show-container .inner .pricing .is{color:#57caef;}
.show-container .inner .pricing .was{font-size:15px;color:#616161;text-decoration:line-through;margin-left:3px;}
.show-container .inner .pricing .pct, .show-container .inner .pricing .bycou{font-size:15px;} 
.show-container .inner .sharing{margin-top:10px;}
.show-container .inner .hashtag{margin-top:20px;}
.show-container .inner .hashtag p{font-size:15px;font-weight:600;text-decoration:none;}
.show-container .inner .more-info{margin-top:10px;}
.show-container .inner .more-info .common{}
.show-container .inner .more-info .common span{float:left;width:47.5%;margin:1%;border:1px solid #ccc;text-align:center;}
.show-container .inner .more-info .common span em{margin:5px 0;display:block;}
.show-container .inner .more-info .common span p{margin:5px 0;}
.show-container .inner .spec{text-align:center;}
.show-container .inner .spec .boxes{margin-top:15px;}
.show-container .inner .spec .boxes .box{float:left;width:32%;margin:0.5%;padding:10px 0;box-shadow:0 0 20px 0 rgba(0,0,0,0.06);}
.show-container .inner .spec .boxes .box p{margin:0 0 7px 0;font-size:20px;font-weight:600;}
.show-container .inner .spec .boxes .box span{font-size:15px;}
.show-container .show-btn{margin-top:35px;border:2px solid black;border-radius:100px;padding:10px 20px;font-size:14px;background:#fe4365;box-shadow:inset 7px 2px 0 white, inset -0.5px 0.5px 0 white, inset -5px -3px 0 #D53D35;color:#fff;position:relative;}
.show-container .show-btn a{color:#fff;font-size:17px;display:block;}
.show-container .mobile{display:none;}
.show-container .admin{position:absolute;top:5px;right:10px;}

.relative-box{width:800px;margin:50px auto;}
.relative-box p{text-align:center;margin-bottom:20px;font-size:17px;font-weight:500;  position: relative;z-index: 1;}
.relative-box p:before{border-top:2px solid #dfdfdf;content:"";margin:0 auto;position:absolute;top:50%;left:0;right:0;bottom:0;width:95%;z-index:-1;}
.relative-box p span{background:#fff;padding:0 15px;}
.relative-items{}
.relative-items .relative-image-box{float:left;width:22.7%;height:180px;margin:1%;border:1px solid #ccc;position:relative;border-radius:20px;}
.relative-items .relative-image-box img{width:95%;height:95%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);border-radius:15px;}

.notice-warp{text-align:left;margin-top:15px;}
.notice-warp strong{border-bottom:0px solid #b4e7f8;box-shadow:inset 0 -7px 0 #b4e7f8;}
.notice-warp span{display:block;}
.notice_pc{width:800px;margin:0 auto;}
.notice_pc span{font-size:10px;color:#333;}
.notice_m{display:none;}
.notice_m span{font-size:10px;color:#333;}

.go_back{width:30px;opacity:0.4;}


@media screen and (max-width:640px){
  .show-container{width:100%;margin:0;padding:0;border:none;}
  .show-container .show-image-box{float:none;width:100%;margin-top:10px;}
  .show-container .show-image-box .no-background img{width:80%;height:80%;}
  .show-container .inner{float:none;width:100%;margin:25px auto 0 auto;text-align:center;padding:0;}
  .show-container .inner p.title{font-size:1.5rem;width:100%;}
  .show-container .inner .more-info .common span{width:47%;}
  .show-container .show-btn{margin-top:30px;}
  .show-container .mobile{display:block;width:87%;margin:30px auto 0 auto;}
  .show-container .pc-ver{display:none;}
  .show-container .admin{top:-35px;right:10px;}
  .notice-warp{margin-bottom:20px;}
  .notice_pc{display:none;}
  .notice_m{display:block;}
  .relative-box{width:100%;margin:30px 0 0 0;}
  .relative-items{}
  .relative-items .relative-image-box{float:left;width:47.4%;margin:1%;}
  /*.go_back{position:absolute;z-index:99;}*/
}

@media screen and (min-width:641px) and (max-width:1199px){
  .show-container{width:100%;margin:0;padding:0;border:none;}
}


/* Form Page */
.form-left{float:left;width:50%;margin-right:5%;}
.form-right{float:left;width:45%;}
.form-right em{font-size:20px;margin-bottom:10px;}
.form-right p{border:2px solid;border-radius:15px;padding:10px 20px;margin-bottom:20px;}
.form-right p span{font-size:17px;font-weight:600;}
.new-form-back a{background:#000;color:#fff;padding:10px 20px;border-radius:10px;margin-top:10px;display:block;width:10%;text-align:center;}
.form-box{margin-bottom:30px;}
.form-inputs .select-box{}
.form-inputs .select-box .input{float:left;margin:10px 15px 10px 0;}
.form-inputs .input-box input{display:block;width:500px;padding:10px 15px;border-radius:10px;margin-bottom:10px;}
.form-inputs .input-box input.boolean{width:20px;display:inline-block;}
.form-actions input{background:#000;color:#fff;padding:15px 20px;border-radius:10px;width:500px;}



/* Slider Style
--------------------------------------*/
.cd-slider {
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  margin-bottom: 3rem;
}
.cd-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 1s;
  will-change: visibility;
}
.cd-slider .image { 
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  clip: rect(0, 80rem, 50rem, 80rem);
  transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
  will-change: clip;
}
.cd-slider .content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 0 0 2rem;
  font-size: 2rem;
  text-align: right;
}
.cd-slider .content h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(-30%);
  opacity: 0;
  transition: transform .5s, opacity .5s;
  will-change: transform, opacity;
  font-size:100px;

}
.cd-slider .content a {

  display: inline-block;
  font-size: 2rem;
  text-transform: lowercase;
  padding: 1.5rem;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform .5s .1s, opacity .5s .1s;
  will-change: transform, opacity;
}
/* Current Slide 
-------------------------------------*/
.cd-slider li.current {
  visibility: visible;
  transition-delay: 0s;
}
.cd-slider li.current .image {
  clip: rect(0, 80rem, 50rem, 0);
}
.cd-slider li.current .content h2 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}
.cd-slider li.current .content a {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.1s;
}
/* Prev Slide 
------------------------------------*/
.cd-slider li.prev_slide .image {
  clip: rect(0, 0, 50rem, 0);
}
.cd-slider nav {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 2;
}
.cd-slider .prev, .cd-slider .next, .cd-slider .counter {
  vertical-align: middle;
}
.cd-slider .prev, .cd-slider .next {
  position: relative;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}
.cd-slider .prev::before, .cd-slider .next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: .8rem solid transparent;
  border-right-width: 1rem;
  border-right-color: #000;
  border-left-width: 0;
  width: 0;
  height: 0;
}
.cd-slider .prev::after, .cd-slider .next::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
  left: .5rem;
  background: #000;
  height: .1rem;
  min-height: 1px;
  width: 2.5rem;
  transition: width .3s;
}
.cd-slider .next::before {
  right: 0;
  left: auto;
  border-left-width: 1rem;
  border-left-color: #000;
  border-right-width: 0;
}
.cd-slider .next::after {
  right: .5rem;
  left: auto;
}
.cd-slider .counter {
  display: inline-block;
  font-size: 1rem;
  font-family: serif;
  font-style: italic;
}
.cd-slider .counter span:last-child::before {
  content: '/';
  margin: 0 1rem;
}
.cd-slider .prev:hover::after, .cd-slider .next:hover::after {
  width: 3.5rem;
}
@media screen and (max-width:640px){
  .cd-slider{height:15rem;margin-bottom:1rem}
  .cd-slider .image { width: 100%; }
  .cd-slider .content{padding-right: 2rem;color:#fff;}
  .cd-slider .content h2{font-size:25px;}
  .cd-slider .content a{font-size:17px;color:#fff;}
  .cd-slider nav {left:0;right:auto;padding:5px;}
  .cd-slider .prev, .cd-slider .next{width:4em;height:2.5em;}
}
@media screen and (min-width:641px) and (max-width:1199px){

}

