/* Index Page */
.visual{text-align:center;}
.visual .main-title{margin-bottom:10px;}
.visual .main-title .visual-banner{}
.visual .main-title .visual-banner img{width:100%;}
.visual .main-title .visual-banner-m{display:none;}

.sub_banner{}
.sub_banner .sb_card{float:left;width:31.33%;margin:1%;}
.sub_banner .sb_card img{width:100%;height:150px;object-fit:cover;border-radius:15px;}

.visual h2.ver-02{font-size:77px;letter-spacing:1px;color:#F25F5C;text-shadow:1px 1px 0 #70C1B3, 2px 2px 0 #b4e7f8, 3px 3px 0 #70C1B3, 4px 4px 0 #b4e7f8, 5px 5px 0 #70C1B3, 6px 6px 0 #b4e7f8, 7px 7px 0 #70C1B3, 8px 8px 0 #b4e7f8, 9px 9px 0 #70C1B3, 10px 10px 0 #b4e7f8, 11px 11px 0 #70C1B3, 12px 12px 0 #b4e7f8;}
.visual span.span-02{font-size:37px;}
.visual span.sub_title{font-size:2rem;border-bottom:0px solid #fec2cd;box-shadow:inset 0 -10px 0 #fec2cd;width:100%;}
.visual ul{display:table;margin:0 auto;}
.visual ul li{float:left;}
.visual ul li a{} 
.visual .category-mobile{display:none;}
.visual .category-mobile ul{}
/*.visual .category-mobile ul li{border:3px solid #595959;width:100px;height:100px;border-radius:50%;text-align:center;line-height:150px;margin-left:10px;position:relative;border-bottom:-1px solid #fe8fa3;background:#f8f8f8;}*/
/*.visual .category-mobile ul li a{color:#595959;font-size:16px;font-weight:700;display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;}*/
.visual .category-mobile ul li
.visual .category-mobile ul li a{color:#595959;font-size:16px;display:block;}
.visual .category-mobile ul li a img{position:absolute;top:30%;left:50%;width:50px;transform:translate(-50%, -30%);}
.visual form{margin-bottom:15px;}
.visual input{display:none;padding:10px;width:50%;border-radius:10px;}

/* 카드박스 가로스크롤 메인  */
/*.visual-card-wrap{}
.visual-card-wrap ul{} 
.visual-card-wrap ul li{width:280px;height:190px;text-align:center;margin:0 10px;position:relative;}
.visual-card-wrap ul li a{color:#fff;font-weight:bold;font-size:20px;} 
.visual-card-wrap ul li p{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;}
.visual-card-wrap ul li a img{width:100%;height:100%;border-radius:20px;box-shadow:0 0 2rem -1rem rgba(0,0,0,0.5);}*/

.where{width:1000px;margin:0 auto;text-align:left;text-transform:uppercase;font-family: 'Gugi', cursive;}
.sale-where{width:1200px;}
.where p{font-size:35px;font-weight:500;}
.where p a, .where p span, .where p em, .where-hashtag p span, .card-wrap .cart-title span{border-bottom:0px solid #b4e7f8;box-shadow:inset 0 -8px 0 #b4e7f8;}
.where-hashtag{font-family: 'Gugi', cursive;}
.where-hashtag p{font-size:50px;font-weight:600;}

/* category and hashtag on Sale Page */
.sales-categories{font-family: 'Gugi', cursive;}
.ctg-common{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction: normal;flex-flow: row wrap;-webkit-box-pack:center;justify-content:center;}
.ctg-common:before, .ctg-common:after{content:"";background:#ccc;padding:0.5px;-webkit-box-flex:100%;flex:100%;}
.ctg-common ul{padding:3px 0}
.ctg-common ul li{float:left;margin:0 10px;padding:10px;background:#f8f8f8;border-radius:15px;}
.ctg-common ul li a{position:relative;display:block;transition:0.5s;}
.ctg-common ul li a:after{position:absolute;content:"";top:100%;left:0;width:100%;height:3px;background:#fe8fa3;transform:scaleX(0);transform-origin:right;transition:transform 0.5s;}
.ctg-common ul li a:hover{color:#95a5a6;}
.ctg-common ul li a:hover:after{transform:scaleX(1);transform-origin:left;}


.sales-categories .hashtag{margin-bottom:30px;}
.sales-categories .hashtag ul{}
.sales-categories .hashtag ul .hashtag_li{float:left;width:93%;margin-left:1%;}
.sales-categories .hashtag ul .hashtag_li_right{float:left;}
.sales-categories .hashtag ul .hashtag_li_right li.mobile{display:none;}
.sales-categories .hashtag ul li{font-size:12px;float:left;margin:0 10px 10px 0;border:1px solid #ccc;padding:3px 5px;border-radius:15px;color:#000;background:#f8f8f8;}
.sales-categories .hashtag .panel-wrapper{position:relative;}
.sales-categories .hashtag .btn{color:#a284e0;background:rgba(162,132,224,0.1);border-radius:1.5em;right:0%;padding:5px;text-decoration:none;width:20%;/*transform:translate(-50%,-50%);*/}
.sales-categories .hashtag .show, .hide{position:absolute;bottom:-1em;z-index:100;text-align:center;}
.sales-categories .hashtag .hide{display:none;}
.sales-categories .hashtag .show:target{display:none;}
.sales-categories .hashtag .show:target ~ .hide{display:block;}
.sales-categories .hashtag .show:target ~ .panel{max-height:2000px;}
.sales-categories .hashtag .show:target ~ .fade{margin-top:0;}
.sales-categories .hashtag .panel{position:relative;margin:1em auto 0.5em auto;max-height:25px;overflow:hidden;-webkit-transition:max-height .5s ease;transition:max-height .5s ease;border:1px solid #ccc;padding:10px;border-radius:15px;}
.sales-categories .hashtag .panel input{padding:4px;border-radius:10px;border:1px solid #ccc;background:rgba(162,132,224,0.1);}
.sales-categories .hashtag .panel input::placeholder{color:#a284e0;font-weight:bold;padding-left:5px;}
.sales-categories .hashtag .fade{height:20px;/*margin-top:-100px;*/position:relative;}


.card{float:left;width:30.7%;height:400px;margin:1%;border-radius:20px;position:relative;box-shadow:0 0 5px rgba(0,0,0,0.15);}
.card-wrap{width:1000px;margin:10px auto 0 auto;}
.card-wrap .cart-title span{font-size:30px;font-weight:600;}
  
.sale-card-wrap{width:1200px;}  

.card .image-box{height:300px;position:relative;}
.card .image-box img{width:75%;height:75%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;border-radius:20px;}
.card .image-box .no-background img{width:80%;height:80%;object-fit:contain;}
.card .inner{text-align:center;width:80%;margin:0 auto;}
.card .inner p{font-size:14px;word-break:keep-all;letter-spacing:1.1px;height:50px;}
.card .inner p a{color:#b3b3b3;/*border-bottom:0px solid #b4e7f8;box-shadow:inset 0 -7px 0 #b4e7f8;*/}

/* Sale Page */
.sales-card{width:23%;height:435px;}
.sales-card .inner{text-align:left;}
.sales-card .inner em{font-size:12px;}
.sales-card .inner em.sales-source{color:#ccc;text-decoration:underline;margin-right:2px;}
.sales-card .inner em.hash_em a{color:#a284e0;border:1px solid #a284e0;border-radius:10px;padding:3px 6px;background:rgba(162,132,224,0.1);}
.sales-card .inner .left{float:left;width:50%;}
.sales-card .inner .right{float:right;width:45%;margin-left:5%;margin-top:7px;}
.sales-card .inner .right a{text-decoration:none;border:2px solid #000;text-align:center;display:table-cell;vertical-align:middle;padding:7px 24px;display:block;border-radius:15px;background: #fe4365;box-shadow: inset 7px 2px 0 white, inset -0.5px 0.5px 0 white, inset -5px -3px 0 #D53D35;color:#fff;font-size:13px;}
/*.sales-card .inner .right a.outline{color:#fff;text-shadow:1px 0 0 #a3a3a3,0 1px 0 #a3a3a3,-1px 0 0 #a3a3a3,0 -1px 0 #a3a3a3,1px 1px 0 #a3a3a3,-1px 1px 0 #a3a3a3,-1px -1px 0 #a3a3a3,1px -1px 0 #a3a3a3;}*/
.card .inner span.list-price{display:block;font-size:15px;color:#fe8fa3;text-decoration:line-through;margin-bottom:-3px;}
.card .inner span.current-price{font-size:20px;}
.card .sales-pct{position:absolute;top:10px;left:10px;background:#f8f8f8;border-radius:50%;border:1px solid #ccc;}
.card .sales-pct p{color:#3d3d3d;width:45px;height:45px;display:table-cell;vertical-align:middle;text-align:center;padding:5px;font-weight:bold;}
.card .sales-pct p span{display:block;}

.card .inner .add form{position:absolute;bottom:-10px;left:50%;transform:translate(-50%, -50%);}
.card .inner .add form input{font-size:30px;width:43px;height:40px;color:#FE4365;background:#fff;border-radius:50%;border:none;cursor:pointer;border:1px solid;padding-bottom:40px;}
.card .inner .cart-delete{position:absolute;bottom:-10px;left:50%;transform:translate(-50%, -50%);}
.card .inner .cart-delete a{font-size:27px;font-weight:700;color:#FE4365;background:#fff;width:40px;height:40px;border-radius:50px;padding:5px 13px;border:1px solid;}
.card .source p{text-align:center;font-weight:500;}
.card hr{width:30%;height:1px;background:#ccc;border:none;margin-top:5px;text-align:left;display:none;}

/*a.btn{display:inline-block;margin:5px;padding:5px 15px;font-size:17px;text-decoration:none;outline:none;color:#fff;background-color:#FE4365;background:#F25F5C;border-radius:3px;box-shadow:0 0 0 -2px #CFF09E, 0 0 0 -1px #F25F5C;border:none;-webkit-transition:-webkit-box-shadow .3s;-webkit-transition:box-shadow .3s;transition:box-shadow .3s;border-radius:20px;}
a.btn:hover, a.btn:focus{box-shadow:0 0 0 2px #CFF09E, 0 0 0 4px #ff0464;-webkit-transition-timing-function:cubic-bezier(0.6, 4, 0.3, 0.8);transition-timing-function:cubic-bezier(0.6, 4, 0.3, 0.8);-webkit-animation:gelatine 0.5s 1;animation:gelatine 0.5s 1;}
a.btn:active{background:#4ECDC4;-webkit-transition-duration:0;transition-duration:0;box-shadow:0 0 0 2px #CFF09E, 0 0 0 4px #3ac7bd;}*/
.category-pc, .category-mobile{font-family: 'Gugi', cursive;}


.category-pc{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction: normal;flex-flow: row wrap;-webkit-box-pack:center;justify-content:center;}
.category-pc:before, .category-pc:after{content:"";background:#636363;padding:0.5px;-webkit-box-flex:100%;flex:100%;}

/*.category-pc a.btn{display:inline-block;background-color:#FFED66;padding:5px 15px;border:none;border-radius:30px;font-size:17px;text-decoration:none;color:#FF5E5B;box-shadow:0 3px 0 #FF5E5B;cursor:pointer;transition:all 100ms linear;margin:0 5px;}
.category-pc a.btn:hover{-moz-transform:translateY(-4px);-o-transform:translateY(-4px);-ms-transform:translateY(-4px);-webkit-transform:translateY(-4px);transform:translateY(-4px);box-shadow:0 7px 0 #FF5E5B;}
.category-pc a.btn:focus{outline:0;}*/

/** $keyframes \ gelatine**/
@keyframes gelatine {
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
}
@-webkit-keyframes gelatine {
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
  from,to{-webkit-transform:scale(1, 1);transform:scale(1, 1);}
  25%{-webkit-transform:scale(0.9, 1.1);transform:scale(0.9, 1.1);}
  50%{-webkit-transform: scale(1.1, 0.9);transform: scale(1.1, 0.9);}
  75%{-webkit-transform:scale(0.95, 1.05);transform:scale(0.95, 1.05);}
}


@media screen and (max-width:640px){
  .visual .main-title .visual-banner{display:none;}
  .visual .main-title .visual-banner-m{display:block;}
  .visual .main-title .visual-banner-m img{width:100%;}
  .visual span.sub_title{font-size:20px;}
  .visual h2.ver-02{font-size:35px;}
  .visual span.span-02{font-size:25px;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;}
  .visual ul li a{font-size:15px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;}
  .visual .category-mobile ul.left{float:left;width:80%;}
  .visual .category-mobile ul.right{float:left;width:20%;}
  .visual input{display:block;width:90%;border:none;background:#f8f8f8;margin:0 auto;}
  .where{width:100%;margin:0;}
  .where p{font-size:20px;text-align:center;}
  .where-hashtag{margin-bottom:20px;}
  .where-hashtag p{font-size:40px;}
  .card{float:none;width:100%;margin:0 0 20px 0;}
  .card-wrap{width:100%;margin:10px 0 0 0;}
  .card .image-box img{width:95%;height:95%;}
  .category-pc a.btn{padding:18px 12px;font-size:15px;}
  .category-pc a.btn:hover{pointer-events:none;}
  .ctg-common{display:none;}

  .sales-categories{width:100%;margin:0;height:50px;}

  .sales-categories .hashtag .panel{display:none;max-height:53px;position:relative;padding:5px;margin:0;}
  /*.sales-categories .hashtag{margin-bottom:10px;}
  .sales-categories .hashtag ul li{margin:0 5px 5px 0;}
  .sales-categories .hashtag ul .hashtag_li{width:90%;}
  .sales-categories .hashtag ul .hashtag_li li{font-size:11px;}
  .sales-categories .hashtag ul .hashtag_li_right{position:absolute;right:0;}
  .sales-categories .hashtag ul .hashtag_li_right li{height:46px;width:30px;text-align:center;}
  .sales-categories .hashtag ul .hashtag_li_right li a{font-size:33px;display:block;}
  .sales-categories .hashtag ul .hashtag_li_right li.pc{display:none;}
  .sales-categories .hashtag ul .hashtag_li_right li.mobile{display:block;}*/


  /*.sales-card .inner .right a{padding:6px 24px;font-size:20px;margin-top:3px;}*/
  
}

@media screen and (min-width:641px) and (max-width:1199px){
  .visual .main-title{margin-bottom:30px;}
  .visual h2{font-size:3rem;}
  .visual h2.ver-02{font-size:45px;}
  .visual span.span-02{font-size:30px;}
  .visual span{font-size:1.5rem;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;height:55px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;}
  .visual input{display:none;width:90%;}
  .where{width:100%;margin:0;}
  .card-wrap{width:100%;margin:30px 0 0 0;}
  .card{float:left;width:47.7%;margin:1%;}
  .category-pc a.btn{padding:5px 15px;}
  .ctg-common{display:none;}
}


/* Show Page */
.show-container{width:800px;margin:0 auto;padding:20px;position:relative;border-radius:20px;}
.show-container .show-image-box{float:left;width:40%;height:300px;position:relative;}
.show-container .show-image-box img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;}
.show-container .show-image-box .yes-background img{width:100%;height:100%;object-fit:cover;}
.show-container .inner{float:left;width:50%;margin-left:5%;padding:2.5%;}
.show-container .inner .source-time{}
.show-container .inner .source-time span{color:#ccc;}
.show-container .inner p.title{font-size:25px;/*font-weight:700;*/margin-bottom:15px;word-break:keep-all;text-decoration:underline;letter-spacing:0.08em;width:70%;}
.show-container .inner p.title_sale{font-size:17px;}
.show-container .inner .pricing{font-size:2rem;font-weight:500;line-height:1.2;margin-top:20px;}
.show-container .inner .pricing .is{color:#57caef;font-weight:bold;}
.show-container .inner .pricing .was{font-size:15px;color:#616161;text-decoration:line-through;margin-left:3px;}
.show-container .inner .pricing .pct, .show-container .inner .pricing .bycou{font-size:15px;} 
.show-container .inner .pricing strong{display:block;margin-top:7px;}
.show-container .inner .sharing{margin-top:10px;}
.show-container .inner .hashtag{margin-top:20px;}
.show-container .inner .hashtag p{font-size:15px;font-weight:600;text-decoration:none;}
.show-container .inner .more-info{margin-top:10px;}
.show-container .inner .more-info .common{}
.show-container .inner .more-info .common span{float:left;width:47.5%;margin:1%;border:1px solid #ccc;text-align:center;}
.show-container .inner .more-info .common span em{margin:5px 0;display:block;}
.show-container .inner .more-info .common span p{margin:5px 0;}
.show-container .inner .spec{text-align:center;}
.show-container .inner .spec .boxes{margin-top:15px;}
.show-container .inner .spec .boxes .box{float:left;width:32%;margin:0.5%;padding:10px 0;box-shadow:0 0 20px 0 rgba(0,0,0,0.06);}
.show-container .inner .spec .boxes .box p{margin:0 0 7px 0;font-size:20px;font-weight:600;}
.show-container .inner .spec .boxes .box span{font-size:15px;}
.show-container .show-btn{margin-top:35px;border:2px solid black;border-radius:100px;padding:10px 20px;font-size:14px;background:#fe4365;box-shadow:inset 7px 2px 0 white, inset -0.5px 0.5px 0 white, inset -5px -3px 0 #D53D35;color:#fff;position:relative;}
.show-container .show-btn a{color:#fff;font-size:17px;display:block;text-align:center;font-weight:bold;letter-spacing:1.1px;}
.show-container .mobile{display:none;}
.show-container .admin{position:absolute;top:5px;right:10px;}

.relative-box{width:800px;margin:50px auto;}
.relative-box p{text-align:center;margin-bottom:20px;font-size:17px;font-weight:500;  position: relative;z-index: 1;}
.relative-box p:before{border-top:2px solid #dfdfdf;content:"";margin:0 auto;position:absolute;top:50%;left:0;right:0;bottom:0;width:95%;z-index:-1;}
.relative-box p span{background:#fff;padding:0 15px;}
.relative-items{}
.relative-items .relative-image-box{float:left;width:22.7%;height:180px;margin:1%;border:1px solid #ccc;position:relative;border-radius:20px;}
.relative-items .relative-image-box img{width:95%;height:95%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);border-radius:15px;}

.notice-warp{text-align:left;margin-top:15px;}
.notice-warp strong{border-bottom:0px solid #b4e7f8;box-shadow:inset 0 -7px 0 #b4e7f8;}
.notice-warp span{display:block;}
.notice_pc{width:800px;margin:0 auto;}
.notice_pc span{font-size:10px;color:#727272;}
.notice_m{display:none;}
.notice_m span{font-size:10px;color:#727272;}

.go_back{width:30px;opacity:0.4;}


@media screen and (max-width:640px){
  .show-container{width:100%;margin:0;padding:0;border:none;}
  .show-container .show-image-box{float:none;width:100%;margin-top:10px;}
  .show-container .show-image-box .no-background img{width:80%;height:80%;}
  .show-container .inner{float:none;width:100%;margin:25px auto 0 auto;text-align:center;padding:0;}
  .show-container .inner p.title{font-size:1.5rem;width:100%;}
  .show-container .inner p.title_sale{font-size:15px;}
  .show-container .inner .more-info .common span{width:47%;}
  .show-container .show-btn{margin-top:30px;}
  .show-container .mobile{display:block;width:87%;margin:30px auto 0 auto;}
  .show-container .pc-ver{display:none;}
  .show-container .admin{top:-35px;right:10px;}
  .notice-warp{margin-bottom:20px;}
  .notice_pc{display:none;}
  .notice_m{display:block;}
  .relative-box{width:100%;margin:30px 0 0 0;}
  .relative-items{}
  .relative-items .relative-image-box{float:left;width:47.4%;margin:1% 0.5%;}
  .show-container .inner .pricing strong{font-size:30px;}
  /*.go_back{position:absolute;z-index:99;}*/
}

@media screen and (min-width:641px) and (max-width:1199px){
  .show-container{width:100%;margin:0;padding:0;border:none;}
}


/* Form Page */
.form-left{float:left;width:50%;margin-right:5%;}
.form-right{float:left;width:45%;}
.form-right em{font-size:20px;margin-bottom:10px;}
.form-right p{border:2px solid;border-radius:15px;padding:10px 20px;margin-bottom:20px;}
.form-right p span{font-size:17px;font-weight:600;}
.new-form-back a{background:#000;color:#fff;padding:10px 20px;border-radius:10px;margin-top:10px;display:block;width:10%;text-align:center;}
.form-box{margin-bottom:30px;}
.form-inputs .select-box{}
.form-inputs .select-box .input{float:left;margin:10px 15px 10px 0;}
.form-inputs .input-box input{display:block;width:500px;padding:10px 15px;border-radius:10px;margin-bottom:10px;}
.form-inputs .input-box input.boolean{width:20px;display:inline-block;}
.form-actions input{background:#000;color:#fff;padding:15px 20px;border-radius:10px;width:500px;}



/* Landing Page Auto Slider*/
#container{width:100%;margin-top:-50px;}
#slider{width:100%;height:350px;position:relative;overflow:hidden;float:left;padding:0;border:#666 solid 2px;border-radius:15px;}
#slider img{width:940px;height:350px;}
.img1, .img2, .img3, .img4, .img5 {width:100%;margin:0;padding:0;} 
.slide{position:absolute;width:100%;height:100%;}.slide:nth-child(1){background:#ce6868;}
.slide:nth-child(2){background:#9ab6b6;}
.slide:nth-child(3){background:#98cc98;}
.slide:nth-child(4){background:#e7b892;}
.slide:nth-child(5){background:#c4ad43;}
.slide-copy{color:#fff;position:absolute;top:1.5%;left:0.7%;padding:30px 40px;background:#7f7f7f;background: rgba(0,0,0,0.5);width:30%;height:80%;border-radius:15px;}
.slide-copy h2{font-size:40px;}
#prev, #next{cursor:pointer;z-index:100;/*background:#666;*/height:50px;width:50px;display:inline-block;position:relative;top:197px;margin:0;padding:0;opacity:0.7;filter:alpha(opacity=70);}
#next{float:right;right:-2px;}
#prev{float:left;left:0;}
.arrow-right{width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-left:15px solid #fff;position:relative;top:20%;right:-40%;}
.arrow-left{width:0;height:0;border-top:15px solid transparent;border-bottom:15px solid transparent;border-right:15px solid #fff;position:relative;top:20%;left:30%;}


@media screen and (max-width:640px){
  .slide-copy{bottom:0;left:0;width:100%;max-height:32%;top:inherit;border-radius:0;}
}






