.back-btn{position:fixed;bottom:2%;left:5%;display:none;}
.back-btn button{outline:none;}
.back-btn .hf_back{width:50px;height:50px;opacity:0.75;}

span.new_sale_btn{background:#08f;padding:3px;}
span.new_sale_btn a{color:#fff;}

@media screen and (max-width:640px){
  .back-btn{display:block;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .back-btn{display:block;} 
}