<div class="wrap">
  <div class="visual clearfix">
    <div class="main-title">
      <div class="visual-banner">
        <img src="<%=asset_path 'banner-sale.png' %>">
      </div>
      <div class="visual-banner-m">
        <img src="<%=asset_path 'banner-sale-m.png' %>">
      </div>
    </div>
  </div>
</div>
<%= render "sales/body" %>